.leaguesContainer {
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}

.leaguesContainer span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.select {
    height: 100%;
}